<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Secretara</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link href="style.css" rel="stylesheet">
      <script type="text/javascript" src="Functii.js"></script>
</head>
<body>
<div id="navigation sticky">
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
<a class="navbar-brand">
            <img src="img/test1.png">
</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="#">Programari</a>
            </li>
                <li class="nav-item">
             <a class="nav-link" href="#">Contabilitate</a>
            </li>
            </li>
                <li class="nav-item">
             <a class="nav-link" href="#">Pacient</a>
            </li>
            
    </ul>  
    <a href="/logout" class="btn btn-danger">Logout</a>    
  </div>
</div>
</nav>
<div class="bg">
  <img src="img/background.png " style="visibility: hidden;">
</div>
<div class="col-12">
        <hr class="invis-100">
    </div>
</div>
<table class="table border border-dark filebg">

    <thead class="thead-dark ">
      <tr>
        <th scope="col">Programari
            <div>
            <% if (locals.noprog) { 
                noprog.forEach(function(error_msg, index) { %>
                <label> <%= error_msg %>  </label>
                <% });
                } %>
            </div>
        </th>
      </tr>
    </thead>
    <tbody>
        <% if (locals.test_1 || locals.test_2 || locals.test_3 || locals.test_4 || locals.test_5 || locals.test_6) { 
            test_1.forEach(function(error_msg, index) { 
                const num2 = test_2[index];
                const num3 = test_3[index]; 
                const num4 = test_4[index];
                const num5 = test_5[index];
                const num6 = test_6[index]; 
                const num7 = test_7[index]; %>
                <form class="example" action="/adauga" method="post" style="margin:auto;max-width:300px">
        <tr>
            <th scope="row">
                <input type="text" placeholder="Search.." name="nume" value="<%= error_msg %>" readonly="true">
                <input type="text" placeholder="Search.." name="prenume" value="<%= num2 %>" readonly="true">
                <input type="text" placeholder="Search.." name="varsta" value="<%= num3 %>" readonly="true">
                <input type="text" placeholder="Search.." name="adresa" value="<%= num4 %>" readonly="true"> 
                <input type="text" placeholder="Search.." name="telefon" value="<%= num5 %>" readonly="true">
                <input type="text" placeholder="Search.." name="descriere" value="<%= num6 %>" readonly="true">
                <input type="text" placeholder="Introduceti ora" name="ora">
                <input type="text" placeholder="Introduceti data" name="data">
                <input type="text" placeholder="Introduceti Medic" name="medic">
                <div>
                    <button id="adauga" type="submit">Adaugati</button>
                    <input type="text" style="visibility: hidden;" name="id" value="<%= num7 %>" readonly="true">    
                </div>
                
        </th>
      </tr>
    </form>
      <% });
        } %>
    </tbody>    
    </table> 
<table class="table border border-dark filebg">

    <thead class="thead-dark ">
      <tr>
        <th scope="col">Orar
            <div>
            <% if (locals.noorar) { 
                noorar.forEach(function(error_msg, index) { %>
                <label> <%= error_msg %>  </label>
                <% });
                } %>
            </div>
            </th>
      </tr>
    </thead>
    <tbody>
        <% if (locals.test || locals.test2 || locals.test3 || locals.test4 || locals.test5 || locals.test6) { 
            test.forEach(function(error_msg, index) { 
                const num2 = test2[index];
                const num3 = test3[index]; 
                const num4 = test4[index];
                const num5 = test5[index];
                const num6 = test6[index]; %>
                <form class="example" action="/modify" method="post" style="margin:auto;max-width:300px">
        <tr>
            <th scope="row">
                <input type="text" placeholder="Search.." name="id" value="<%= num4 %>" readonly="true">
                <input type="text" placeholder="Search.." name="data" value="<%= num5 %>">
                <input type="text" placeholder="Search.." name="ora" value="<%= error_msg %>">
                <input type="text" placeholder="Search.." name="nume" value="<%= num2 %>" readonly="true"> 
                <input type="text" placeholder="Search.." name="prenume" value="<%= num3 %>" readonly="true">
                <input type="text" placeholder="Search.." name="numMed" value="<%= num6 %>">
              <button id="modify" type="submit">Modificati</button>       
        </th>
      </tr>
    </form>
      <% });
        } %>
        <td>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Stergere</button>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                        <form action="/delete" method="post">
                            <div>
                                <label>Introduceti ID-ul pe care vreti sa il stergeti.
                                <input type="text" name="id"></label>
                            </div>
                            <div>
                                <label>Scrieti "confirm" pentru a finaliza stergerea.
                                <input type="text" name="confirm"></label>
                            </div>
                            <div>
                                <div>
                                    <button class="btn btn-danger" id="confirm" type="submit">Apply</button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                </div>
                </div>

            </div>
            </div>    
        </td>
    </tbody>    
    </table> 
    
<div class="col-12">
        <hr class="invis-100">
    </div>
<section id="datepacient">
<h2 class="centertext"><b>Date Pacient</b></h2>
<div class="col-12">
        <hr class="light">
    </div>
<h3 class="centertext">Search pacient</h3>

<form class="example2" action="/searchpacient" method="post" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2" value="">
  <button type="submit"><i class="fa fa-search"></i></button>
</form><br>

</section>
<div class="col-12">
        <hr class="light">
    </div>
    <div class="col-12">
        <hr class="invis-100">
    </div>
<section id="conta">
<h2 class="centertext"><b>Contabilitate Doctori</b></h2>
<div class="col-12">
        <hr class="light">
    </div>
<h3 class="centertext">Search doctor</h3>
<form class="example3" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</section>
<div class="col-12">
        <hr class="invis-100">
    </div>
<!-- Connect -->
<section>
<div class="col-md-50 col-sm-50 contacts">
    <div class="google-map">
        <span class="line-bar"></span>
        <iframe src="https://maps.google.com/maps?q=West%20University%20of%20Timisoara&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
</section>

<!-- Footer -->
<section>

    <footer id="footer">
        <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="img/test1.png">
                <hr class="light">
                <p>555-555-5555</p>
                <p>alphaclinic@gmail.com</p>
                <p>Bulevardul Vasile Parvan</p>
                <p>Timisoara, Timis</p>
        
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Program<h5>
                <hr class="light">
                <p>Luni-Vineri: 8am - 6pm</p>
                <p>Sambata: 8am - 3pm</p>
                <p>Duminica: Inchis</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Informatii<h5>
                <hr class="light">
                <p>Va asteptam si in anul acesta cu servicii de calitate</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; AlphaClinic.com</h5>
            </div>
        </div>
        </div>
        </footer>
</section>
</body>
</html>