<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>Secretara</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link href="style.css" rel="stylesheet">
      <script type="text/javascript" src="Functii.js"></script>
</head>
<div id="navigation sticky">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
    <a class="navbar-brand">
                <img src="img/test1.png">
    </a>
        <a href="/cont" class="btn btn-danger">Back</a>    
      </div>
    </div>
    </nav>
    <div class="bg">
      <img src="img/background.png " style="visibility: hidden;">
    </div>
    <div class="col-12">
            <hr class="invis-100">
        </div>
    </div>
<body>
    <div class="container">
    <table class="table border border-dark filebg" style="background-color: rgb(86, 175, 219);">

        <thead class="thead-dark ">
          <tr>
            <th scope="col">Rezultat Cautare
                <div>
                <% if (locals.noprog) { 
                    noprog.forEach(function(error_msg, index) { %>
                    <label> <%= error_msg %>  </label>
                    <% });
                    } %>
                </div>
            </th>
          </tr>
        </thead>
        <tbody>
            <form id="printer" class="example" method="post" style="margin:auto;max-width:300px">
            <% if (locals.test_1 || locals.test_2 || locals.test_3 || locals.test_4 || locals.test_5 || locals.test_6 || locals.test_7 || locals.test_8 || locals.test_9 || locals.test_10 || locals.test_11 || locals.test_12 || locals.test_13 || locals.test_14 || locals.test_15 || locals.test_16 || locals.test_17 || locals.test_18 || locals.test_19 || locals.test_20 || locals.test_21 || locals.test_22 || locals.test_23 || locals.test_24 || locals.test_25 || locals.text_26) { 
                test_1.forEach(function(error_msg, index) { 
                    const num2 = test_2[index];
                    const num3 = test_3[index]; 
                    const num4 = test_4[index];
                    const num5 = test_5[index];
                    const num6 = test_6[index]; 
                    const num7 = test_7[index];
                    const num8 = test_8[index];
                    const num9 = test_9[index]; 
                    const num10 = test_10[index];
                    const num11 = test_11[index];
                    const num12 = test_12[index]; 
                    const num13 = test_13[index];
                    const num14 = test_14[index];
                    const num15 = test_15[index]; 
                    const num16 = test_16[index];
                    const num17 = test_17[index];
                    const num18 = test_18[index]; 
                    const num19 = test_19[index];
                    const num20 = test_20[index];
                    const num21 = test_21[index]; 
                    const num22 = test_22[index];
                    const num23 = test_23[index];
                    const num24 = test_24[index]; 
                    const num25 = test_25[index];
                    const num26 = test_26[index]; %>
                    
            <tr>
                <th scope="row">
                    <label>ID:</label><input type="text" name="id" value="<%= error_msg %>" readonly="true"><br>
                    <label>Nume:</label><input type="text" name="nume" value="<%= num2 %>" readonly="true"><br>
                    <label>Prenume:</label><input type="text" name="prenume" value="<%= num3 %>" readonly="true"><br>
                    <label>Varsta:</label><input type="text" name="varsta" value="<%= num4 %>" readonly="true"> <br>
                    <label>Sex:</label><input type="text" name="gender" value="<%= num5 %>" readonly="true"><br>
                    <label>Card identitate:</label><input type="text" name="ci" value="<%= num6 %>" readonly="true"><br>
                    <label>CNP:</label><input type="text" name="cnp" value="<%= num7 %>" readonly="true"><br>
                    <label>Tara:</label><input type="text" name="tara" value="<%= num8 %>" readonly="true"><br>
                    <label>Judet:</label><input type="text" name="judet" value="<%= num9 %>" readonly="true"><br>
                    <label>Localitate:</label><input type="text" name="localitate" value="<%= num10 %>" readonly="true"> <br>
                    <label>Adresa:</label><input type="text" name="adresa" value="<%= num11 %>" readonly="true"><br>
                    <label>Mediu:</label><input type="text" name="mediu" value="<%= num12 %>" readonly="true"><br>
                    <label>Telefon:</label><input type="text" name="telefon" value="<%= num13 %>" readonly="true"><br>
                    <label>Categorie profesionala:</label><input type="text" name="catprofes" value="<%= num14 %>" readonly="true"><br>
                    <label>Ocupatie:</label><input type="text" name="ocupatie" value="<%= num15 %>" readonly="true"><br>
                    <label>Medic familie:</label><input type="text" name="medfam" value="<%= num16 %>" readonly="true"> <br>
                    <label>Telefon medic:</label><input type="text" name="telemed" value="<%= num17 %>" readonly="true"><br>
                    <label>Examinare:</label><input type="text" name="examinare" value="<%= num18 %>" readonly="true"><br>
                    <label></label><input type="text" name="bilettrimit" value="<%= num19 %>" readonly="true">
                    <label></label><input type="text" name="radiolog" value="<%= num20 %>" readonly="true">
                    <label></label><input type="text" name="laborat" value="<%= num21 %>" readonly="true">
                    <label></label><input type="text" name="spital" value="<%= num22 %>" readonly="true"> 
                    <label></label><input type="text" name="other" value="<%= num23 %>" readonly="true"><br>
                    <label></label><input type="text" name="scrmed" value="<%= num24 %>" readonly="true">
                    <label>Medicamente:</label><input type="text" name="medicamente" value="<%= num25 %>" readonly="true"><br>
                    <label>Total:</label><input type="text" name="total" value="<%= num26 %>" readonly="true"><br><br>
                    <div>
                        <button formaction="/printpdf" id="FullPrint" type="submit">Printati PDF Complet</button>
                        <button formaction="/semiprint" id="SemiPrint" type="submit">Printati PDF Partial</button> 
                        <button formaction="/totalprint" id="total" type="submit">Printati PDF Bilet Plata</button> 
                    </div>
            </th>
          </tr>
          <% });
            } %>
        </form>
        </tbody>    
        </table>
    </div>
</body>
</html>